body {
    background-image: linear-gradient(to top, #915050 0%, #b14b94 100%);
}

h1 , p{
    color: white;
}

.formulaire-de-connexion {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.input-id {
    padding: 6px;
    margin: 3px;
}

.input-password {
    padding: 6px;
    margin: 3px;
}

.bouton-de-connexion {
        margin: 0 auto;
        width: 100px;
}
